[user]
	name = Fernando Miguel
	email = github@FernandoMiguel.net
[core]
	editor = nano -w
	excludesfile = /Users/fernando/.gitignore_global
[color]
	ui = auto
[credential]
	helper = osxkeychain
[commit]
	template = /Users/fernando/.stCommitMsg
	gpgSign = true
[status]
	submoduleSummary = true
[gpg]
	program = /usr/local/bin/krgpg
[tag]
	forceSignAnnotated = true
[fetch]
	prune = true
	pruneTags = true
[submodule]
	recurse = true

[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/

[url "https://git.drillinginfo.com/"]
	insteadOf = git@git.drillinginfo.com:
[url "https://git.drillinginfo.com/"]
	insteadOf = ssh://git@git.drillinginfo.com/

[url "https://bitbucket.org/"]
	insteadOf = git@bitbucket.org:
[url "https://bitbucket.org/"]
	insteadOf = ssh://git@bitbucket.org/

# [url "https://dev.azure.com/"]
# 	insteadOf = git@ssh.dev.azure.com:v3/
# [url "https://dev.azure.com/"]
# 	insteadOf = ssh://git@ssh.dev.azure.com:v3/


[help]
	autocorrect = 1
